<!-- About section -->
      <div class="section scrollspy section-gray-section" id="about">
        <div class="container">
          <h5 class="center-align">About SCR</h5>
          <div class="row">
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-gray-body">
              <p>The Southern California Robotics Symposium (SCR) is a two-day technical symposium that aims to bring together roboticists from around Southern California. With a high density of academic institutions, research centers, and industry players, SCR is expected to have a large audience with broad expertise and interests. It will also be a showcase for established and up-and-coming robot companies as well as a recruitment opportunity for local companies and startups.</p>
              <p>Finally happening after a 2-year hiatus, {{site.conference_title_short}} {{site.year}} at UCLA is going to be a little different than years past. KEEP GOING WITH THEME</p>
            </div>
          </div>
        </div>
      </div>
