<!-- About section -->
      <div class="section scrollspy section-gray-section" id="about">
        <div class="container">
          <h4 class="center-align">About SCR</h4>
          <div class="row">
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-gray-body">
                <p>The <b>Southern California Robotics Symposium (SCR)</b> is a two-day technical symposium that aims to bring together roboticists from around Southern California. With a high density of academic institutions, research centers, and industry players, SCR is expected to have a large audience with broad expertise and interests. In particular, SCR encourages <b>early-stage academics</b> to present their work to the local, supportive robotics community. Additionally, this symposium provides an opportunity for established and up-and-coming <b>companies</b> to showcase their products and recruit young talent.</p>
                <p>Finally after a two-year hiatus, we are excited to bring SCR back in September 2022 at UCLA, with a focus on in-person interactions. Thus, the highlight of our symposium will be the <b>poster session</b>, which we hope will foster more research discussions and networking opportunities than traditional conference talks. A major strength of SCR that sets us apart is that our conference is <b>small and local</b>, which allows for lasting engagement, partnerships, and collaborations beyond the event.</p>
                <p>{{site.conference_title_short}} {{site.year}}'s <b>theme</b> is:</p>
                <p class="center-align"><i>"Real Solutions to Real Problems impacting Real People"</i></p>
                <p>Throughout all posters, workshops, and talks, we want researchers to focus on the motivation and human impact of their work. <b>What</b> problems are you solving, <b>who</b> is affected, and <b>how</b> does your solution address these problems?</p>
            </div>
          </div>
        </div>
      </div>
