<!-- Posters section -->
      <div class="section scrollspy section-white-section" id="howtocontribute">
        <div class="container">
          <h4 class="center-align section-white-header">How to Contribute</h4>

          <div class="row">
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-white-body">              
              <ol class="browser-default">
                  <li><a href="#posters">Posters</a>: The main event of this symposium; everyone is invited to apply for a poster. An excellent opportunity to initiate discussions, network, and establish long-lasting collaborations with fellow colleagues across a diverse range of robotic disciplines.</li>
                  <li><a href="#workshops">Workshops</a>: Hands-on demonstrations and tutorials designed to fully engage the audience such as prototyping, testing new products, etc.</li>
                  <li><a href="#speakers">New Faculty and Rising Stars Speakers</a>: Early-stage academics (0-5 years), postdocs, and late-stage doctoral students are invited to apply for a talk with the focus being the human impact of their work.</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
