<!-- Posters section -->
      <div class="section scrollspy section-white-section" id="howtocontribute">
        <div class="container">
          <h4 class="center-align section-white-header">How to Contribute</h4>

          <div class="row">
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-white-body">              
              <ul class="browser-default">
                <li>Posters</li>
                <li>Workshops</li>
                <li>New Faculty Speakers</li>
                <li>Rising Stars Spotlight</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
