<!-- Speakers section -->
      <div class="section scrollspy section-gray-section" id="speakers">
        <div class="container">
          <h4 class="center-align section-gray-header">Speakers</h4>

          <div class="row">
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-gray-body">
              <p class="left">
              Two speaker sessions will be held for <b>New Faculty</b> and <b>Rising Stars</b>. These sessions are meant to highlight early-stage career academics and our rising stars in robotics as you enter the faculty job market, respectively. Eligibility and submission guidelines are as follows:</p>

              <p class="left"><b>New Faculty Eligibility:</b></p>

              <div class="col s12 m10 offset-m1 l10 offset-l1 section-gray-body">              
              <ul class="browser-default">
                <li>Faculty members in the Southern California area within 0-5 years of their appointment.</li>
                <li>Southern California graduates who are faculty members elsewhere within 0-5 years of their appointment.</li>
              </ul>
              </div>
              
              <p class="left"><b>Rising Stars Eligibility:</b></p>

              <div class="col s12 m10 offset-m1 l10 offset-l1 section-gray-body">              
              <ul class="browser-default">
                <li>Late-stage doctoral students and postdoctoral researchers in the Southern California area.</li>
              </ul>
              </div>

              <p class="left"><b>Submission Guidelines:</b></p>

              <div class="col s12 m10 offset-m1 l10 offset-l1 section-gray-body">              
              <ul class="browser-default">
                <li>Prepare an abstract for your talk that does not exceed one page of text and does not exceed two pages total</li>
                <li>Specifically highlight the real-world impacts of your work. Most of your talk should focus on the motivation behind your work and its impacts rather than technical details. What problem does your work aim to solve? Who is affected by these problems? How does your work form a solution?</li>
                <li>Submissions are required to be in PDF format with a suitably sized font</li>
                <li>Submission deadline: Aug. 15th 2022, Midnight PDT</li>
                <li>Accepted submissions will be announced on Aug. 30th 2022, Midnight PDT</li>
              </ul>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-gray-body">
              <p class="left">
                Please send your applications via e-mail to <a href="mailto:{{site.organizer-email}}">{{site.organizer-email}}</a> with the subject "New Faculty" or "Rising Stars" in PDF format.
              </p>
              <div class="container" style="text-align:center">
                <a href="mailto:{{site.organizer-email}}" class="btn-large" style="font-weight:bold; background-color: {{site.color.primary-dark}}">Submit</a>
              </div>
            </div>

          </div>
        </div>
      </div>
