<!-- Workshops section -->
      <div class="section scrollspy section-white-section" id="workshops">
        <div class="container">
          <h4 class="center-align section-white-header">Workshops & Tutorials</h4>

          <div class="row">
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-white-body">
              <p class="left">
                We are now accepting workshop/tutorial proposals for {{site.conference_title_short}} {{site.year}}. We will select a limited number of tutorial-style workshops to be conducted. If you are interested in holding a workshop at {{site.conference_title_short}} {{site.year}}, please submit the following:
              </p>
            </div>
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-white-body">
              <ul class="browser-default">
                <li>An abstract (one page of text max, two pages total) describing the activities of the proposed workshop.
                <ul class="browser-default">
                    <li style="margin-left:2em">Specifically highlight the interactive elements and the takeaways that participants can only learn through the hands-on experience of the workshop.</li>
                    <li style-"margin-left:2em">Include a dedicated "Impacts" section addressing the real-world impacts and relevance of the workshop. How can the information and skills learned during this workshop be used to solve real-world problems?</li>
                </ul>
                </li>
                <li>A document describing required equipment and logistics</li>
                <li>Submission deadline: July 31th, 2022, Midnight PDT</li>
                <li>Accepted submissions will be announced on Aug. 15th, 2022, Midnight PDT</li>
              </ul>
            <p class="left">
                Please send your submissions via e-mail to <a href="mailto:{{site.organizer-email}}">{{site.organizer-email}}</a> with the subject "Workshop Proposal" in PDF format.
            </p>
              <div class="container" style="text-align:center">
                <a href="mailto:{{site.organizer-email}}" class="btn-large" style="font-weight:bold; background-color: {{site.color.primary-dark}}">Submit</a>
              </div>
            </div>
          </div>
        </div>
      </div>
