<!-- Workshops section -->
      <div class="section scrollspy section-white-section" id="workshops">
        <div class="container">
          <h4 class="center-align section-white-header">Workshops</h4>

          <div class="row">
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-white-body">
              <p class="left">
                We are now accepting workshop/tutorial proposals for {{site.conference_title_short}} {{site.year}}. We will select a limited number of hands-on, tutorial-style workshops to be conducted. If you are interested in holding a workshop at {{site.conference_title_short}} {{site.year}}, please submit the following:
              </p>
            </div>
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-white-body">
              <ul class="browser-default">
                <li>A three-page proposal describing the activities of the proposed workshop including the following:
                <ul class="browser-default">
                    <li><a href="https://www.ieee.org/conferences/publishing/templates.html">IEEE style</a>, PDF format, size 10pt font</li>
                    <li>Title</li>
                    <li>List of organizers with contact information and indicate the primary contact for the workshop</li>
                    <li>Abstract (200 words maximum) summarizing the proposed event</li>
                    <li>Detailed description of the event. Specifically highlight the interactive elements and the takeaways that participants can only learn through the hands-on experience of the workshop</li>
                    <li>Include a dedicated "Impacts" section addressing the real-world impacts and relevance of the workshop. How can the information and skills learned during this workshop be used to solve real-world problems?</li>
                    <li>Expected duration and number of participants</li>
                    <li>Required equipment and logistics</li>
                </ul>
                <li>Submission deadline: July 31th, 2022, Midnight PDT</li>
                <li>Accepted submissions will be announced on Aug. 15th, 2022, Midnight PDT</li>
              </ul>
            <p class="left">
                Please send your PDF submissions via e-mail to <a href="mailto:{{site.organizer-email}}">{{site.organizer-email}}</a> with the subject "Workshop Proposal".
            </p>
              <div class="container" style="text-align:center">
                <a href="mailto:{{site.organizer-email}}" class="btn-large" style="font-weight:bold; background-color: {{site.color.primary-dark}}">Submit</a>
              </div>
            </div>
          </div>
        </div>
      </div>
