<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <header>
      {% include nav.html %}
    </header>
    <main>
      {% include banner.html %}
      {% include about.html %}
      {% include speakers_early.html %}
      {% include schedule.html %} 
      {% include papers.html %}
      {% include booths.html %}           
      {% include venue.html %}
      {% include organizers.html %}  
      {% include sponsors.html %}          
    </main>
    <footer class="page-footer" style="background-color: {{site.color.primary-dark}}">
      <div align="right">
        <a href="https://github.com/pettni/scr_website/">Website layout courtesy of SCR 2019 Organizers</a>
      </div>
    </footer>
    {% include modals.html %}
    {% include js.html %}
</body>
</html>